.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: var(--gutter);

  @media (max-width: 959px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 700px) {
    padding: 0 !important;
  }
}
