@use "../abstracts/mixins";
.card {
  @include mixins.card-base;
  @include mixins.card-initial-separator(10px);
  @include mixins.breakpoint(sm) {
    font-size: 2.5vw !important;
  }
  @include mixins.breakpoint(md) {
    font-size: 1.7vw !important;
  }
  @include mixins.breakpoint(lg) {
    font-size: 1.3vw !important;
  }
  @include mixins.breakpoint(xl) {
    font-size: 1vw !important;
  }
  padding: 12px;
  background: var(--card-bg);

  &:hover{
    transition: .2s;
    background-color: var(--card-hover);
    cursor: pointer;
  }


  .video-img {
    aspect-ratio: 16 / 9;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }

    p {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: rgba(0, 0, 0, 0.56);
      padding: 0 8px;
      border-radius: 5px;
    }
  }

  .video-info {
    display: flex;
    gap: 20px;

    img {
      width: 40px;
      max-width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .channel-title, .video-more-info {
    color: var(--text-desc);
  }

  .center {
    .video-title {
      font-weight: bold;
    }
  }

  .video-more-info {
    @include mixins.card-initial-separator-normal(5px);

    span {
      @include mixins.center-flex();
    }

    p, span {
      @include mixins.breakpoint(sm) {
        font-size: 2.2vw !important;
      }
      @include mixins.breakpoint(md) {
        font-size: 1.4vw !important;
      }
      @include mixins.breakpoint(lg) {
        font-size: 1.2vw !important;
      }
      @include mixins.breakpoint(xl) {
        font-size: 0.8vw !important;
      }
    }
  }
}

.video {
  position: relative;

  .video-media {
    position: relative;
    .video-preview {
      position: absolute;
      inset: 0;
      z-index: 5;
      pointer-events: none;


      iframe {
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
      }

    }

  }
}
