@use "../abstracts/mixins";
.nav {
  padding: 12px;
  background-color: var(--bg);
  position: sticky;
  top: 0;
  z-index: 1000;
  @include mixins.space-between;

  .nav-left-side {
    @include mixins.center-flex(20px);

    &:hover {
      cursor: pointer;
    }

    .menu {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include mixins.center-flex();

      fa-icon {
        font-size: 22px;
      }

      &:hover {
        background-color: var(--icons-bg-hover);
      }
    }

    .logo {
      width: 130px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .nav-center {
    @include mixins.center-flex(20px);

    .search-parent {
      @include mixins.center-flex();
      width: 640px;
      height: 40px;
      outline: 1px solid var(--outline);
      border-radius: 20px;
      overflow: hidden;

      input {
        //border-radius: 20px;
        background-color: #121212;
        border: none;
        padding: 18px;
        height: 100%;
        outline: 1px solid var(--outline);
        width: 100%;
        color: white;
        font-size: 18px;
      }

      .search-icon {
        width: 60px;
        height: 100%;
        background-color: #222222;
        @include mixins.center-flex();

        fa-icon {
          font-size: 18px;
        }

        &:hover {
          cursor: pointer;
        }
      }

    }
      .voice {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--icons-bg);
        @include mixins.center-flex();
        fa-icon {
          font-size: 18px;
        }

        &:hover {
          background-color: var(--icons-bg-hover);
          cursor: pointer;
        }
      }
  }

  .nav-right-side {

    @include mixins.center-flex(20px);

    .create {
      @include mixins.center-flex(8px);
      padding: 0 15px;
      height: 40px;
      background-color: var(--icons-bg);
      border-radius: 20px;
      font-weight: bold;

      &:hover {
        background-color: var(--icons-bg-hover);
        cursor: pointer;
      }
    }

    .notification {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include mixins.center-flex();

      fa-icon {
        font-size: 18px;
      }
      &:hover {
        background-color: var(--icons-bg-hover);
        cursor: pointer;
      }

    }

    .profile {
      width: 40px;
      height: 40px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}
