$color-bg-light: #ffffff;
$color-text-light: #0f0f0f;
$color-bg-dark:  #0f0f0f;
$color-text-dark:#ffffff;
$color-primary:  #ff0000;
$color-muted:    #6b6b6b;
$color-outline: #303030;
$color-bg-icons: #272727;
$color-bg-icons-hover: #3f3f3f;
$color-text-description: #a5a5a5;
$color-icon-selected: #f1f1f1;

$max-width: 1280px;
$gutter: 16px;
$radius: 8px;
$transition-fast: 150ms;
$transition-base: 250ms;
$breakpoints: (sm: 599px, md: 959px, lg: 1279px, xl: 1600px);
