

.search-page-parent {
  padding: 10px 0 0 15vw;

  @media (max-width: 1200px) {
    padding: 0;
  }

  .search-video {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
    cursor: pointer;

    @media (max-width: 700px) {
      flex-direction: column;
      padding: 20px;
    }

    .search-video-left {
      flex: 0 0 clamp(300px, 40vw, 500px);
      aspect-ratio: 16 / 9;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;

        border-radius: 10px;
        object-fit: cover;
      }
    }

    .search-video-right {
      max-width: 850px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: var(--text-desc);

      h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: var(--text);
      }

      .search-video-desc {
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }

  }


}


.search-sentinel {
  margin-top: 200px;
  height: 100px;
  width: 100%;
  display: block;
}
