.watch-page {
  display:grid;
  grid-template-columns: 1fr 320px;
  gap: 16px;

  @media (max-width: 959px) {
    grid-template-columns: 1fr;
  }
}

.current-video {
  position: relative;
  width: 100vw;
  height: 75vh;

  youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75vh;

    youtube-player-placeholder {
      width: 100% !important;
      height: 100% !important;
    }
  }

  iframe {
    width: 100%;
    height: 75vh;
    border: none;
  }


}

.video-details {
  padding: 20px 50px;

  .video-info {
    h1 {
      font-size: 22px;
    }
    .channel-details {
      margin-top: 10px;
      .channel-left-side {
        display: flex;
        align-items: center;
        gap: 20px;

        .channel-pfp {
          width: 50px;
          height: 50px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }


        .channel-title-parent {
          margin-right: 10px;
          h2 {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
        }




        .channel-sub-parent {
          display: flex;
          gap: 10px;
        }


      }
    }
  }
}
