<ng-container *ngIf="!video()">
  <div class="loading-spinner">
    <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="4" ></mat-progress-spinner>
  </div>
</ng-container>
<div class="current-video" *ngIf="video() as v" >
<!--  <p>video title is {{v.snippet.title}}</p>-->
  <youtube-player
    *ngIf="v"
    #ytPlayer
    [videoId]="v.videoDetails.id"
    [playerVars]="{ autoplay: 1, controls: 1, modestbranding: 1 }"
    suggestedQuality="hd720"
    autofocus
  >
  </youtube-player>
</div>



<div class="video-details" *ngIf="video() as v">

  <div class="video-info">
    <h1>{{v.videoDetails.snippet.title}}</h1>

    <div class="channel-details">
      <div class="channel-left-side">

        <div class="channel-pfp">
          <img [src]="v.channelProfilePic" referrerpolicy="no-referrer" alt="channel pfp">
        </div>

        <div class="channel-title-parent">
          <h2>{{v.videoDetails.snippet.channelTitle}}</h2>
          <p>{{formatSubscribers(v.videoDetails.statistics.subscriberCount)}}</p>
        </div>

        <div class="channel-sub-parent">
          <button class="btn btn-dark">Join</button>
          <button class="btn btn-light">Subscribe</button>
        </div>

      </div>
      <div class="channel-right-side">
        <div class="like-container ">
          <div class="likes btn btn-dark">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <p>{{formatViews(v.videoDetails.statistics.likeCount,
              ``)}}</p>
          </div>

          <div class="dislikes btn btn-dark">
            <fa-icon [icon]="faThumbsDown"></fa-icon>
          </div>
        </div>
        <div class="share-container btn btn-dark">
          <fa-icon [icon]="faShare"></fa-icon>
          <p>Share</p>
        </div>

        <div class="download-container btn btn-dark">
          <fa-icon [icon]="faDownload"></fa-icon>
          <p>Download</p>
        </div>


      </div>

    </div>

    <div class="video-views-container btn btn-dark">
      <p>{{formatViews(v.videoDetails.statistics.viewCount)}}</p>
      <span>•</span>
      <p>{{timeAgo(v.videoDetails.snippet.publishedAt)}}</p>
    </div>

    <ng-container *ngIf="comments() && !error()">
      <div class="video-comments-container">
        <h2 *ngIf="!error()">{{ video()!.videoDetails.statistics.commentCount }} Comments</h2>
        <app-comment [comments]="comments()"></app-comment>

        <!-- <--- tiny sentinel AFTER the list (this is the important bit) -->
        <ng-container *ngIf="isLoading()">
          <div class="loading-spinner">
            <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="4" ></mat-progress-spinner>
          </div>
        </ng-container>

        <div class="show-more-comments reply-btn"
             [class.show-btn]="commentsCounter() > 0"
             [class.hide-btn]="!nextPageToken()"
             (click)="onCommentsBtnClick()"
        >Show More Comments</div>
        <div #commentsSection class="comments-sentinel" [class.hide-sentinel]="commentsCounter() > 0" aria-hidden="true"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="error()">
      <h1 class="error-h1">Failed to load comments</h1>
    </ng-container>

  </div>

  <div class="recommendations">
    <app-suggested-videos [videoCategoryId]="videoCategoryId" [suggestedVideos]="suggestedVideos()"></app-suggested-videos>
    <ng-container *ngIf="suggestedIsLoading()">
      <div class="loading-spinner">
        <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="4" ></mat-progress-spinner>
      </div>
    </ng-container>
    <ng-container *ngIf="suggestedError()">
      <h1 class="error-h1">Failed To Load Videos</h1>
    </ng-container>

    <div class="show-more-suggestions reply-btn"
         [class.show-btn]="suggestedCounter() > 0"
         [class.hide-btn]="!suggestedNextPageToken()"
         (click)="onSuggestionsBtnClick()"
    >Show More Suggestions</div>
    <div #suggestedSection class="suggested-sentinel" [class.hide-sentinel]="suggestedCounter() > 0" aria-hidden="true"></div>

  </div>

</div>

<ng-container *ngIf="!isOnline()">
  <h1 class="error-h1">You're Offline, Check your Internet And Try Again</h1>
</ng-container>
