<ng-container *ngIf="!video()">
  <div class="loading-spinner">
    <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="4" ></mat-progress-spinner>
  </div>
</ng-container>
<div class="current-video" *ngIf="video() as v">
<!--  <p>video title is {{v.snippet.title}}</p>-->
  <youtube-player
    #ytPlayer
    [videoId]="v.videoDetails.id"
    [playerVars]="{ autoplay: 1, controls: 1, modestbranding: 1 }"
    suggestedQuality="hd720"
    autofocus
  >
  </youtube-player>
</div>

<div class="video-details" *ngIf="video() as v">

  <div class="video-info">
    <h1>{{v.videoDetails.snippet.title}}</h1>

    <div class="channel-details">
      <div class="channel-left-side">

        <div class="channel-pfp">
          <img [src]="v.channelProfilePic" alt="channel pfp">
        </div>

        <div class="channel-title-parent">
          <h2>{{v.videoDetails.snippet.channelTitle}}</h2>
          <p>{{formatSubscribers(v.videoDetails.statistics.subscriberCount)}}</p>
        </div>

        <div class="channel-sub-parent">
          <button class="btn btn-dark">Join</button>
          <button class="btn btn-light">Subscribe</button>
        </div>

      </div>
      <div class="channel-right-side">
        <div class="like-container ">
          <div class="likes btn btn-dark">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
            <p>{{formatViews(v.videoDetails.statistics.likeCount,
              ``)}}</p>
          </div>

          <div class="dislikes btn btn-dark">
            <fa-icon [icon]="faThumbsDown"></fa-icon>
          </div>
        </div>
        <div class="share-container btn btn-dark">
          <fa-icon [icon]="faShare"></fa-icon>
          <p>Share</p>
        </div>

        <div class="download-container btn btn-dark">
          <fa-icon [icon]="faDownload"></fa-icon>
          <p>Download</p>
        </div>


      </div>

    </div>

    <div class="video-views-container btn btn-dark">
      <p>{{formatViews(v.videoDetails.statistics.viewCount)}}</p>
      <span>•</span>
      <p>{{timeAgo(v.videoDetails.snippet.publishedAt)}}</p>
    </div>

    <ng-container *ngIf="comments() else noComments">
      <div class="video-comments-container">
        <h2>{{ video()!.videoDetails.statistics.commentCount }} Comments</h2>
        <app-comment [comments]="comments()"></app-comment>
<!--        <ul class="comments-list">-->
<!--          <li *ngFor="let c of comments()">-->
<!--            <div class="comment-left-side">-->
<!--              <img [src]="c.snippet.topLevelComment.snippet.authorProfileImageUrl" referrerpolicy="no-referrer" alt="User pfp">-->
<!--            </div>-->


<!--            <div class="comment-right-side">-->
<!--              <div class="comment-author">-->
<!--                <p>{{ c.snippet.topLevelComment.snippet.authorDisplayName }}</p>-->
<!--                <p class="comment-time">{{timeAgo(c.snippet.topLevelComment.snippet.publishedAt)}}</p>-->
<!--              </div>-->
<!--              <div class="comment-text" [innerHTML]="c.snippet.topLevelComment.snippet.textOriginal">-->

<!--              </div>-->

<!--              <div class="comment-like-section">-->
<!--                <div class="comment-likes">-->
<!--                  <fa-icon class="circle-invisible" [icon]="faThumbsUp"></fa-icon>-->
<!--                  <p>{{formatViews(c.snippet.topLevelComment.snippet.likeCount, "")}}</p>-->
<!--                </div>-->
<!--                <div class="comment-dislikes">-->
<!--                  <fa-icon class="circle-invisible" [icon]="faThumbsDown"></fa-icon>-->
<!--                </div>-->
<!--              </div>-->


<!--              <div class="comment-reply-section">-->
<!--                <div class="comment-reply-button reply-btn" *ngIf="c.snippet.totalReplyCount > 0" (click)="toggleReplies(c.snippet.topLevelComment.id)">-->
<!--                  <fa-icon [icon]="faChevronDown"></fa-icon>-->
<!--                  <p> {{c.snippet.totalReplyCount}} replies</p>-->
<!--                </div>-->

<!--                <div class="comment-replies-container" *ngIf="expanded().has(c.snippet.topLevelComment.id)">-->
<!--                  <div class="comment-replies" *ngFor="let rep of repliesCache().get(c.snippet.topLevelComment.id)">-->
<!--&lt;!&ndash;                    {{rep.comments.snippet.}}&ndash;&gt;-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->




<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->

        <!-- <--- tiny sentinel AFTER the list (this is the important bit) -->
        <ng-container *ngIf="isLoading()">
          <div class="loading-spinner">
            <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="4" ></mat-progress-spinner>
          </div>
        </ng-container>
        <div #commentsSection class="comments-sentinel" aria-hidden="true"></div>
      </div>
    </ng-container>

    <ng-template #noComments>
      <h1>No Comments</h1>
    </ng-template>

  </div>

  <div class="recommendations">
    hello
  </div>

</div>
