<div class="nav">
  <div class="nav-left-side">
    <div class="menu">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>

    <div class="logo" routerLink="">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/0/0b/YouTube_2024_%28white_text%29.svg"
        alt="YouTube Logo"
      />


    </div>

  </div>

  <div class="nav-center">
    <div class="search-parent">

      <input
        #searchInput
        class="search-input"
        type="text"
        placeholder="Search"
        (input)="onKeyDown($event)"
        (click)="onInputClick()"
      >

      <div class="search-icon">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </div>

      <ul class="search-list" *ngIf="isToggled()">
        <li *ngFor="let result of queryResults()">
          <div class="list-left">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            <p>{{ decodeHtml(result.snippet.title) }}</p>
          </div>
          <div class="list-right">
            <img [src]="result.snippet.thumbnails.default.url" alt="video thumbnail">
          </div>
        </li>
      </ul>

    </div>

    <div class="voice">
      <fa-icon [icon]="faMicrophone"></fa-icon>
    </div>
  </div>

  <div class="nav-right-side">
    <div class="create">
      <fa-icon [icon]="faAdd"></fa-icon>
      <p>Create</p>
    </div>

    <div class="notification">
      <fa-icon [icon]="faBell"></fa-icon>
    </div>

    <div class="profile">
      <img src="https://lh3.googleusercontent.com/ogw/AF2bZyhcgXoCv3FWafVkRRnRDRmyupy6E8xwSrQJUq0fDtqSrA=s64-c-mo" alt="pfp">
    </div>
  </div>
</div>
