<div class="video card " *ngIf="finalVideo()" (mouseenter)="showPreview()" (mouseleave)="hidePreview()"
     (click)="onClick(finalVideo()?.videoDetails?.snippet?.categoryId)">

  <div class="video-media">
  <div class="video-img" *ngIf="finalVideo()?.videoDetails?.snippet?.thumbnails?.maxres?.url as imgUrl; else fallbackImg"
       [style.opacity]="previewVisible() ? 0 : 1"
       [style.transition]="'opacity 0.28s ease'">
    <img [src]="imgUrl" [alt]="finalVideo()!.videoDetails.snippet?.title">
    <p>{{formatYouTubeDuration(finalVideo()!.videoDetails.contentDetails.duration)}}</p>
  </div>

    <ng-template #fallbackImg>
      <div class="video-img">
        <img [src]="finalVideo()?.videoDetails?.snippet?.thumbnails?.high?.url"
             [alt]="finalVideo()?.videoDetails?.snippet?.title">
      </div>
    </ng-template>

  <div class="video-preview" *ngIf="iframeSrc() as src">
    <iframe
      [src]="src"
      width="100%"
      height="100%"
      frameborder="0"
      allow="autoplay; encrypted-media; picture-in-picture"
      allowfullscreen

    ></iframe>
  </div>

  </div>



  <div class="video-info">

    <div class="left-side">
      <img [src]="finalVideo()?.channelProfilePic" alt="Channel pfp">
    </div>

    <div class="center">
      <div class="video-title">{{finalVideo()?.videoDetails!.snippet.title}}</div>
      <div class="channel-title">{{finalVideo()?.videoDetails!.snippet.channelTitle}}</div>
      <div class="video-more-info">
        <p class="video-views">{{formatViews(finalVideo()?.videoDetails!.statistics.viewCount)}}</p>
        <span>•</span>
        <p class="video-date">{{timeAgo(finalVideo()?.videoDetails!.snippet.publishedAt)}}</p>
      </div>

    </div>

<!--    <div class="right-side"></div>-->

  </div>

</div>
