<div class="app-container">
<app-video-card *ngFor="let video of videos()" [video]="video"></app-video-card>
</div>
  <ng-container *ngIf="isLoading()">
    <div class="loading-spinner">
      <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="4" ></mat-progress-spinner>
    </div>
  </ng-container>
  <div class="sentinel" *ngIf="isOnline()" #sentinel></div>

<ng-container *ngIf="error()">
  <h1 class="error-h1">Failed To Load Videos</h1>
</ng-container>

<ng-container *ngIf="!isOnline()">
  <h1 class="error-h1">You're Offline, Check your Internet And Try Again</h1>
</ng-container>
