@use '../abstracts/variables' as vars;

:root {
  --bg: #{vars.$color-bg-dark};
  --text: #{vars.$color-text-dark};
  --text-desc: #{vars.$color-text-description};
  --text-black: #{vars.$color-bg-dark};
  --icon-selected: #{vars.$color-icon-selected};
  --button-light-hover: #e4e4e4;
  --reply-button: #39a6ff;
  --reply-button-hover: #263850;
  --search-background: #212121;
  --search-background-hover: #383838;
  --primary: #{vars.$color-primary};
  --muted: #{vars.$color-muted};
  --outline: #{vars.$color-outline};
  --icons-bg: #{vars.$color-bg-icons};
  --icons-bg-hover: #{vars.$color-bg-icons-hover};
  --card-bg: #0f0f0f;
  --card-hover: #{vars.$color-card-hover};
  --gutter: #{vars.$gutter}px;
  --radius: #{vars.$radius}px;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
  font: inherit;
}
