.u-center { display:flex; align-items:center; justify-content:center; }
.u-hidden { display:none !important; }
.text-muted { color: var(--muted); }
.mr-1 { margin-right: 0.5rem; }
.mt-1 { margin-top: 0.5rem; }
.btn-dark {background-color: var(--icons-bg) !important; color: var(--text) !important; font-weight: 600 !important; &:hover {background-color: var(--icons-bg-hover) !important;}}
.btn-light {background-color: var(--icon-selected) !important; color: var(--text-black) !important; font-weight: 600 !important; &:hover {background-color: var(--button-light-hover) !important;}}
